* {
    box-sizing: border-box; 
}

html {
    font-size: 20px;
}

body {
    background-color: #10651b;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #0f2a1d;
    border: 3px solid black;
    color: white;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.board-game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    background-color: #052514;
    width: 70%;
    border: 3px solid black;
    color: white;
}
